form {
    display: table;
    margin: 0 auto;
}

.flex-group {
    display: flex;
    padding: 10px;
    padding-right: 5px;
}

.flex-group .flex {
    margin-left: 50px;
    width: 350px;
    flex-grow: 4;
}

h2,
p {
    text-align: center;
}