<h2>Angular Services</h2>
<br>
<form #frm="ngForm" (ngSubmit)="updateInfo(frm)">
    <div class="container">
        <input type="text" name="location" value="" ngModel>
        <button type="submit" name="button">Add info</button>
    </div>

</form>
<br>
<p>Used to add data to three employee with single button</p>
<pre></pre>

<div class="flex-group">
    <div class="flex">
        <button type="button" name="button" (click)="getInfoFromService1()">Employee1</button>
        <ul class="list-group">
            <li *ngFor="let info of infoReceived1" class="list-group-item">{{info}}</li>
        </ul>
    </div>
    <pre></pre>
    <div class="flex">
        <button type="button" name="button" (click)="getInfoFromService2()">Employee2</button>
        <ul class="list-group">
            <li *ngFor="let info of infoReceived2" class="list-group-item">{{info}}</li>
        </ul>
    </div>
    <pre></pre>
    <div class="flex">
        <button type="button" name="button" (click)="getInfoFromService3()">Employee3</button>
        <ul class="list-group">
            <li *ngFor="let info of infoReceived3" class="list-group-item">{{info}}</li>
        </ul>
    </div>
</div>