<ul>
    <li><a href="" routerLink='angular' routerLinkActive="active">Angular</a></li>
    <li><a href="#Components" routerLink='component' routerLinkActive="active">Components</a></li>
    <li><a href="#DI" routerLink='dependency-injections' routerLinkActive="active">Dependecny Injections</a></li>
    <li><a href="#services" routerLink='services' routerLinkActive="active">Services</a></li>
    <li><a href="#forms" routerLink='form' routerLinkActive="active">Angular Forms</a></li>
    <li><a href="#pipes" routerLink='pipes' routerLinkActive="active">Pipes</a></li>
    <li><a href="#reactiveForm" routerLink='reactiveForm' routerLinkActive="active">Reactive Form</a></li>
    <li><a href="#httpClient" routerLink='httpClient1' routerLinkActive="active">HttpClientModule</a></li>

</ul>
<br>

<div class="container">
    <router-outlet></router-outlet>
</div>