<h1>Angular Cheat Sheet</h1>
<table class='table'>
    <thead>
        <tr>
            <th>S.no</th>
            <th>Command</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1. </td>
            <td>npm install -g @angular/cli</td>
            <td>To install angular-cli to the system</td>
        </tr>
        <tr>
            <td>2. </td>
            <td>ng new project-name</td>
            <td>To create a new angular application</td>
        </tr>
        <tr>
            <td>3. </td>
            <td>ng serve</td>
            <td>It will serve the application on 4200 port</td>
        </tr>
        <tr>
            <td>4. </td>
            <td>ng build</td>
            <td>It is used to build a project in the dist folder</td>
        </tr>
        <tr>
            <td>5. </td>
            <td>ng doc</td>
            <td>It is used look for angular documentation</td>
        </tr>
        <tr>
            <td>6. </td>
            <td>ng help</td>
            <td>It is used to get help on angular cli commands</td>
        </tr>
        <tr>
            <td>7. </td>
            <td>ng generate component component-name (or) <br> ng g c component-name</td>
            <td>It is used to create component</td>
        </tr>
        <tr>
            <td>8. </td>
            <td>ng generate directive directive-name (or) <br> ng g d directive-name</td>
            <td>To generate a directive</td>
        </tr>
        <tr>
            <td>9. </td>
            <td>ng generate service service-name (or) <br> ng g s service-name</td>
            <td>To generate a service</td>
        </tr>
        <tr>
            <td>10. </td>
            <td>ng generate class class-name (or) <br> ng g cl class-name</td>
            <td>To generate a class</td>
        </tr>
        <tr>
            <td>11. </td>
            <td>ng generate interface interface-name (or) <br> ng g i interface-name</td>
            <td>To generate an interface</td>
        </tr>
        <tr>
            <td>12. </td>
            <td>ng generate pipe pipe-name (or) ng g p pipe-name</td>
            <td>To generate a pipe</td>
        </tr>
        <tr>
            <td>13. </td>
            <td>ng generate module module-name (or) <br>ng g m module-name</td>
            <td>To generate a module</td>
        </tr>
        <tr>
            <td>14. </td>
            <td>ng g m module-name --routing</td>
            <td>To generate module with routing file</td>
        </tr>
        <tr>
            <td>11. </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11. </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11. </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>